.jumbotron {
  padding-top: 2rem;
  background-color: white;
}

#cv {
  background-color: white;
}

section {
  padding-top: 5rem;
}

#about {
  background-color: #bbd5f7;
}

#contact {
  background-color: rgb(188, 217, 253);
}
